# Builds
/Dependencies/Ogre/Build
/Dependencies/SDL/Build
/Dependencies/Bullet/Build
/Dependencies/JSON/build
/Dependencies/FMOD/FMOD_Src\bin
/Dependencies/FMOD/FMOD_Src\doc
/Dependencies/FMOD/FMOD_Src\plugins
/Dependencies/FMOD/FMOD_Src\uninstall.exe

# Visual Studio Data
/.vs

# MotorEngine Output Files
/Exe
/Lib

# MotorEngine Temp Files
/Temp

# No user data
*.user

# No logs
*.log