# Builds
/Dependencies/*/build/
/Dependencies/*/bin/

# No build-time data records
build_Output.txt

# Main project without external things
/Projects/Main/*.cfg
/Projects/Main/Assets/

# Visual Studio Data
/.vs

# MotorEngine Output Files
/Exe
/Lib

# MotorEngine Temp Files
/Temp

# No user data
*.user

# No logs
*.log

/Assets