# Builds
/Dependencies/Ogre/Build
/Dependencies/SDL/Build
/Dependencies/Bullet/Build
/Dependencies/FMOD/FMOD_Src


# Visual Studio Data
/.vs

# MotorEngine Output Files
/Exe
/Lib

# MotorEngine Temp Files
/Temp

# No user data
*.user

# No logs
*.log